body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

h1 {
    color: #444;
}

#task-form {
    margin-bottom: 20px;
}

#task-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

#add-task-btn {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


#task-list {
    padding: 0;
    width: 400px;
}

.task-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}


.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.delete-btn:hover {
    background-color: #a31927;
}